
	<div id="all-details">
		<fieldset>
			<div id="show-img">

				<div class="main-title"> <%= @product.title %> </div>

					<!-- display an image using a product's img_url or if blank display an image
						reading "no image to display" -->
					<% if not @product.img_url.blank? %>
						<%= link_to (image_tag @product.img_url, :size => "200x250"),
								products_path, :title=> 'return to "all" products ...'  %>
					<% else %>
						<%= link_to (image_tag "no-image.jpg", :size => "200x250"), 
								products_path, :title=> 'return to "all" products ...' %>
					<% end %>
					</br></br>
				
					<!-- all products have a capacity, zero or more -->					
					<div class="sub-title"> Capacity: <%= @product.capacity %> </div>
					</br>
					
					<!-- if a product does not have a price then do not display -->
					<% if not @product.price.blank? %>
						<div class="sub-title"> Price: <%= number_to_currency @product.price , :unit => "&pound" %>	</div>	
					<% end %>
					</br>
					
					<div class="sub-title"> 
						Contact: <%= @product.contact %>
					</div>
					</br>	
					
					<div class="sub-title">
						Telephone: <%= @product.telephone %>
					</div>
					</br>
					
					<div class="sub-title"> 
						Website: <%= @product.website %>
					</div>
					</br>
					
					<div class="sub-title">
						Address: <%= @product.address %>
					</div>
					</br>	
					
	<div class="slider-wrapper theme-default">
        <div id="slider" class="ramblingSlider">
            <%= image_tag "slide1.jpg", :width => "230" %>
            <%= image_tag "slide2.jpg", :width => "230" %>
            <%= image_tag "slide3.jpg", :width => "230" %>
            <%= image_tag "slide4.jpg", :width => "230" %>  
			<%= image_tag "slide5.jpg", :width => "230" %>
			<%= image_tag "slide6.jpg", :width => "230" %>
        </div>
    </div>
				
					<div id="rating-buttons">
						<!-- a button to add a review, sent to the reviews controller, action new
							with a parameter 'id' of the product to be reviewed -->
						<%= button_to 'Add Review', 
							{controller: 'reviews', action: 'new', id: @product.id } ,
							{class: "button-to"} %>
										
						<%= button_to 'See Reviews', 
							{controller: 'reviews', action: 'displays', id: @product.id}, 
						    {class: "button-to"} 
						%>
						
						<%= link_to 'Book Now', new_product_booking_path(@product), class: "button-to"
						%>
					</div>
					
					
					
					</br></br>
					
					<% if admin? %>
						<%= link_to 'Edit', edit_product_path(@product) %> |
					<% end %>
					<%#= link_to 'Back', products_path %>
					<%#= link_to 'Back', :back %>
					<%= link_to_function "Back", "history.back()" %>					
				</div>
				
				<div id="description">
					<%= @product.description %>
				</div>

				
				<div id="rating-buttons">				
					<%#= button_to 'Book Venue', 
						{controller: 'books', action: 'new', id: @product.id } ,
						{class: "button-to"} %>
				</div>							
			</center>
			
		</fieldset>
	</div>
	
	
	
	
	

